@using MudBlazor

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<MudLayout>
    <footer class="footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="poppins-regular">Învățați inteligent o limbă nouă și descoperiți o nouă perspectivă asupra lumii. </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="https://twitter.com/home?lang=ro"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5>Cursurile LingoLabs</h5>
                    <ul>
                        <li><a href="#" class="footer-content poppins-regular">Învață Limba Engleză</a></li>
                        <li><a href="#" class="footer-content poppins-regular">Învață Limba Franceză</a></li>
                        <li><a href="#" class="footer-content poppins-regular">Învață Limba Germană</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Produse</h5>
                    <ul>
                        <li><a href="#" class="footer-content poppins-regular">Cursuri</a></li>
                        <li><a href="#" class="footer-content poppins-regular">Despre Noi</a></li>
                        <li><a href="#" class="footer-content poppins-regular">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact</h5>
                    <li>Email: <a href="mailto:lms@office.com?subject=Hello&body=Message" class="footer-content poppins-regular">office@lingolabs.com</a></li>
                    <li>Telefon: <a href="tel:+40123456789" class="footer-content poppins-regular">+40 123 456 789</a></li>
                    <li>Adresa: <a href="https://www.google.com/maps/search/?api=1&query=Strada+General+Henri+Mathias+Berthelot+16%2C+Iași+700483" class="footer-content poppins-regular">General Henri Mathias Berthelot 16 Street 700483, Iași, Romania</a></li>
                </div>
            </div>
            <!-- Drepturile de autor și link-urile de la subsolul paginii -->
            <div class="row" style="margin-top: 40px; margin-bottom: -20px">
                <div class="col-md-6">
                    <p>2024 LingoLabs. All Rights Reserved.</p>
                </div>
                @* <div class="col-md-6">
                    <ul class="footer-links">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div> *@
            </div>
        </div>
    </footer>
</MudLayout>

<style>
    .footer-custom {
        background: linear-gradient(to right, #163081, #02497E);
        color: white;
        padding: 20px 0;
    }

    .social-icons {
        display: flex;
        justify-content: flex-start;
    }

    .social-icon {
        color: white;
        font-size: 19px;
        text-decoration: none;
        margin-right: 10px;
    }

        .social-icon:hover {
            color: #ADD8E6; 
        }


    .footer-links a {
        color: white;
        margin-right: 10px;
    }

    .poppins-regular {
        font-family: 'Poppins-Regular', sans-serif;
    }

    .footer-content {
        color: white;
    }

        .footer-content:hover {
            color: white;
            text-decoration: underline;
        }
</style>

@code {

}
