@inherits LayoutComponentBase

<div class="page-fluid">
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <div class="footer">
        <Footer />
    </div>
</div>
