@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout style="display: flex; flex-direction: column; min-height: 100vh;">
    <div class="navbar poppins-semi-bold">
        <NavMenu />
    </div>

    <main>
        <div class="content poppins-semi-bold" style="margin-top: 41px; flex-grow: 1;">
            @Body
        </div>
    </main>

    <MudScrollToTop>
        <MudFab Style="background-color: #FC6F05; color: white;" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>

    <footer class="footer poppins-semi-bold">
        <Footer />
    </footer>
</MudLayout>

<style>
    .poppins-semi-bold {
        font-family: 'Poppins-SemiBold', sans-serif;
    }
</style>