@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page-fluid">
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        <div class="content">
            @Body
        </div>
    </main>

    <div class="footer">
        <Footer/>
    </div>
</div>