@using MudBlazor

<MudLayout>
    <MudAppBar Elevation="1" Class="app-bar-custom">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <!-- Prima coloană cu imaginea și titlul site-ului aliniat la stânga -->
            <div style="flex: 1; display: flex; align-items: center;" href="/">
                <img src="images/sigla-lingolabs.png" alt="LingoLabs" style="height: 55px; margin-left: 40px;" />
                <MudText Typo="Typo.h6" Class="poppins-semi-bold" style="font-size: 25px; color: #2563EB; margin-left: 10px;">LingoLabs</MudText>
            </div>
            <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
                <a href="/" class="nav-link nav-link-custom">Acasă</a>
                <a href="#" class="nav-link nav-link-custom">Cursuri</a>
                <a href="#" class="nav-link nav-link-custom">Despre Noi</a>
                <a href="#" class="nav-link nav-link-custom">Contact</a>
            </div>
            <!-- Butonul de login -->
            <div style="flex: 1; display: flex; justify-content: flex-end; align-items: center;">
                @* <MudButton Color="Color.Primary" Class="button-custom">Login</MudButton> *@
                <MudButton Variant="Variant.Filled" Class="custom-button poppins-semi-bold">Login</MudButton>
            </div>
        </div>
    </MudAppBar>
</MudLayout>

<style>
    .app-bar-custom {
        background-color: white;
    }

    .nav-link-custom {
        color: grey;
        padding: 8px;
    }

        .nav-link-custom:hover, .button-custom:hover {
            color: #2563EB;
        }

    .custom-button {
        background-color: #FC6F05; /* culoarea de fundal */
        color: white; /* culoarea textului */
    }

        .custom-button:hover {
            background-color: #E36404; /* culoarea de fundal */
        }

    .poppins-semi-bold {
        font-family: 'Poppins-SemiBold', sans-serif;
    }
</style>




@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LingoLabs.App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    
</div>
 *@
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
